.bot-chat{
    position: relative;
    background-color: #05A6A6;
    border-radius: 10px 0px 10px 10px;

}

.bot-chat::after{
    content: '';
    height: 13px;
    width: 10px;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background-color:#05A6A6;
    position: absolute;
    top: 0px;
    right: -10px;
}